

<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Welcome to the House of Kaatbochs!</h1>
    <p class="lead">Home of the Eternal Meow</p>
    <hr class="my-5">
    <hr class="my-5">
    <hr class="my-5">
    <div class="mt-5">
      <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
      <p class="lead">Leave your tribute in the bowl.</p>
    </div>
  </div>
</div>

